@import '../../css-variables.scss';

.house-list{
    display: flex;
    flex-direction: column;
    color: $light-color;

    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.shopping-list-info{
    background-color: $primary-color;
    border-radius: 20px;
    a{
        padding: 15px;
        display: flex;
        p{
            padding: 10px;
        }   
    }
}