// src/custom-bootstrap.scss

// Define your color variables
$primary-color: #09814A;
$secondary-color: #c879FF;
$dark-color: #153B50;
$light-color: #DFF3E3;
$warning-color: #F9A620;
$hover-color: #0B6E3C;
$navbar-color: #0B6E3C;
$background-color: #153B50;